body{

    font-family: 'verdana';
    margin: 0;
    background-color: #E9E9E9;
}
header{

    
}
.barraSuperior{

    padding: 30px 15px;
    box-shadow: 0.5px 0.1px 1px;
    background-color: white;
}
.logoTopo img{

    margin-left: 0.5cm;
    position: absolute;
}
.campoPesquisa input{

    left: 50%;
    top: 0.5cm;
    transform: translate(-50%);
    position: absolute;
    height: 25px;
    width: 10cm;
    border-style: solid;
    border-color: #E9E9E9;
    border-width: 0.5px;
    
    
}
/*COLOCANDO PLACEHOLDER AO CENTRO*/
::-webkit-input-placeholder{
    text-align: center;
}
::-moz-input-placeholder{
    text-align: center;
}
/*=============================*/
.campoPesquisa button{

    left: 64%;
    top: 0.5cm;
    position: absolute;
    height: 27px;
    border: none;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color:#E9E9E9 ;
}
.btnEntrar{

    border: none;
    border-radius: 15px;/*TEM Q SER A METADE DA ALTURA(HEIGTH)*/
    position: absolute;
    top: 0.5cm;
    right: 0.5cm;
    height: 30px;
    width: 2cm;
    background-color: #754EF9;
    color: white;
}
header a{

    float: right;
    margin-right: 90px;
    text-decoration: none;
}
/*PARTE DO CORPO DO SITE*/
.containerPrincipal{

    height: 500px;
    width: 800px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 2cm;
    /*border-style: solid ;
    border-color: black;
    border-width: 0.3px;*/
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 1px;
}
.containerFotos{

    margin-left: 1.3cm;
    margin-top: 0.7cm;
}
.imagemModais{

    background-color: tomato;
    height: 190px;
    width: 150px;
    margin-left: 0.5cm;
    margin-top: 0.5cm;
    box-shadow: 0.5px 0.5px 1px;
    border-radius: 5px;
}
.containerCategorias{

    width: 250px;
    height: 500px;
    background-color: #fff;
    left: 0.5cm;
    top: 2cm;
   position: absolute;
   box-shadow: 0.5px 0.5px 1px;
   border-radius: 5px;
}
.containerCategorias h2{

    text-align: center;
}
.containerCategorias a{

    text-decoration: none;
    margin-left: 50px;
    line-height: 300%;
    font-size: 20px;
    color: #754EF9;
}
